@page "/admin/stats"
@inherits AdminPageBase

<PageTitle>Statisitk</PageTitle>

@if (!IsAuthorized)
{
    <p>Redirecting to login...</p>
}
else
{
    <h1>Order Stats</h1>

    <div class="admin-grid">
        <a class="admin-card" href="/admin/stats/teams">
            <h2>Fordelt p책 hold</h2>
            <p>Se totale bestillinger fordelt p책 hvert hold.</p>
        </a>
        <a class="admin-card" href="/admin/stats/drinks">
            <h2>Fordelt p책 drink type.</h2>
            <p>Se total fordelt p책 drinks samlet for alle hold.</p>
        </a>
    </div>
}
